/* Form Container */
.form-container {

}

/* Input Fields */
input[type=text], input[type=password] {
    width: 500px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Input Highlight */
input[type=text]:focus, input[type=password]:focus {
    background-color: #dddddd;
    outline: none;
}

/* Button */
.submit-btn {
    float: right;
    background-color: #4CAF50;
    color: white;
    opacity: 0.9;
}

.alt-btn {
    float: left;
    background-color: #f44336;
    color: white;
    opacity: 0.9;
}

.terminate-btn {
    background-color: #f44336;
    color: white;
    opacity: 0.9;
}

/* Button Highlight */
button:hover {
    opacity: 1;
}