.project-container { /* Format Grid */
    grid-area: content;
    background-color: lightblue;

    width: 50%;
    min-width: 600px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

.section {
    background-color: #ffffff;
    border: 3px solid #f1f1f1;
    padding: 0px;
    /*overflow: auto;*/
}

.section-title {
    color: #333333;
    font-size: 24px;
    height: auto;
    width: 100%;
    text-align: center;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
}










.project-container {
    /*DISPLAY AS ROWS*/
}









/*.leaderboard-container {*/
/*}*/
/*.comment-container {*/
/*}*/




/*.project-container {*/
/*    border: 1px #333333;*/
/*}*/

/*.project-title {*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

/*.environment-container {*/
/*    flex: 50%;*/
/*    background-color: lightcoral;*/
/*}*/

/*.stats-container {*/
/*    flex: 50%;*/
/*    background-color: lightcoral;*/
/*}*/

/*.stats-container,h1 {*/
/*    padding-left: 10px;*/
/*}*/

/*.project-container h1 {*/
/*    font-family: "Open Sans",sans-serif;*/
/*    font-weight: 600;*/
/*    font-size: 24px;*/
/*    color: black;*/
/*}*/

/*.canvas {*/
/*    background-color: #e0f8cf;*/

/*    !*  Black = #071821*/
/*        Dark Green = #306850*/
/*        Light Green = #86c06c*/
/*        Lime = #e0f8cf          *!*/
/*}*/


/*@media screen and (max-width: 600px 992px) {
    .environment-container, .stats-container {
        width: 100%;
    }
}*/