* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
}

/*--- BACKGROUND ---*/
/*body {
    !* POLKA DOT BACKGROUND *!
    background-image: radial-gradient(#dddddd 20%, transparent 20%),
    radial-gradient(#e6e6e6 20%, transparent 20%); !* #f2f2f2 *!
    background-color: #ffffff;
    background-position: 0 0, 50px 50px;
    background-size: 15px 15px;
}*/

/*--- LAYOUT ---*/
.wrapper {
    height: 100vh;
    display: grid;
    grid-template-areas:
           "header"
           "content"
           "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; /*65px*/
    grid-gap: 20px;
}

/*--- HEADER ---*/
header {
    grid-area: header;
    width: 100vw;
    min-height: 65px;
    height: auto;
    background-color: #333333;
    color: white;
}

.nav-logo,h1 {
    font-weight: 1000;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.nav-logo h1:hover {
    color: whitesmoke;
}

button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/*--- ACCOUNT ACTION ---*/
.nav-account button {
    background-color: white;
    color: #333333;
    /*opacity: 0.8;*/
}

/* Button Highlight */
.nav-account button:hover {
    background-color: whitesmoke;
    /*opacity: 1;*/
}

.flex-container {
    width: 100vw;
    min-height: 65px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*--- CONTENT ---*/
.content-container {
    grid-area: content;
    /*background-color: whitesmoke;*/

    width: 50%;
    min-width: 600px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

.section {
    background-color: #ffffff;
    border: 3px solid #f1f1f1;
    padding: 0px;
    /*overflow: auto;*/
}

.section-title {
    color: #333333;
    font-size: 24px;
    height: auto;
    width: 100%;
    text-align: center;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
}

/*--- FOOTER ---*/
footer {
    grid-area: footer;
    width: 100vw;
    height: 50px;
    background-color: #333333;
    text-align: center;
}

.credit {
    display: block;
    color: whitesmoke;
    font-size: large;
    margin-top: 12px;
}



/*!*mobile=600px tablet=992*!
@media screen and (max-width: 992px) {
    .alg-setup, .alg-select, .alg-run {
        !*width: 100%;*!
        padding: 5px 0px;
        margin-left:auto;
        margin-right:auto;
    }

    header {
        padding: 5px 0px;
    }
}*/