* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
}

/*--- LAYOUT ---*/
.wrapper {
    height: 100vh;
    display: grid;
    grid-template-areas:
           "header"
           "content"
           "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; /*65px*/
    grid-gap: 20px;
}

/*--- HEADER ---*/
header {
    grid-area: header;
    width: 100vw;
    min-height: 65px;
    height: auto;
    background-color: #333333;
    color: white;
}

.nav-logo,h1 {
    font-weight: 1000;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.nav-logo h1:hover {
    color: whitesmoke;
}

button {
    padding: 9px 25px;
    background-color: white;
    color: #333333;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: whitesmoke;
}

.flex-container {
    width: 100vw;
    min-height: 65px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*--- CONTENT ---*/
.content-container {
    grid-area: content;
    background-color: whitesmoke;
    width: auto;
}

/*--- FOOTER ---*/
footer {
    grid-area: footer;
    width: 100vw;
    height: 50px;
    background-color: #333333;
    text-align: center;
}

.credit {
    display: block;
    color: whitesmoke;
    font-size: large;
    margin-top: 12px;
}



/*!*mobile=600px tablet=992*!
@media screen and (max-width: 992px) {
    .alg-setup, .alg-select, .alg-run {
        !*width: 100%;*!
        padding: 5px 0px;
        margin-left:auto;
        margin-right:auto;
    }

    header {
        padding: 5px 0px;
    }
}*/